.DS_Store

.atom/
.idea/

# dart
.packages
.pub
packages
pubspec.lock
.dart_tool/

# flutter
build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*


# docs
dartdoc-viewer/

# coverage
/coverage/